body {
	max-width: 428px;
	margin: 0 auto;
	font-family: "Montserrat", sans-serif;
	align-items: center;
	justify-content: center;
	padding: 0;
	box-sizing: border-box;
	background: #f0f2f8;
}

h1 {
	padding: 0;
	margin: 0 auto;
	font-weight: 700;
	font-size: 20px;
	line-height: 160%;
	letter-spacing: 0.03em;
	text-align: center;
	color: #3e3e3e;
}

a {
	text-decoration: none;
}

img {
	/*max-width: 118px;*/
	border-radius: 32px;
	padding-bottom: 8px;
	border: 4px solid transparent;
}

header {
	margin-bottom: 20px;
}

.main-wrapper {
	margin: 10px 2px;
	justify-content: center;
	align-items: center;
}

.main-text:hover,
.main-text:focus {
	font-weight: 700;
	transition: 0.15s;
}

.main-text:hover img,
.main-text:focus img {
	border: 4px solid #007AFF;
	transition: 0.15s;
}


.main-text:active img {
	border: 4px solid #002750;
}

li {
	display: flex;
	justify-content: center;
	padding-bottom: 16px;
}

.row-wrapper {
	width: 100%;
	align-items: center;
	justify-content: center;
}

.main-row {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
	text-align: center;
	gap: 2px;
	width: 100%;
}

.main-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	text-align: center;
	color: #3e3e3e;
	width: 128px;
}